# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* what is data science
* Libraries and languages used in Data Science
* Introduction to different languages of data sciene for example: R, Python, SQl
* GitHub
* Jupyter , Jupter Kernals

Some of the popular languages that Data Scientists use are:
1. Python
2. C/C++
3. R
4. SQL
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy 
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|---|
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
 Sakshi Malhotra